@import '@fontsource/plus-jakarta-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  /* background-color: #D8EAFE; */
  margin: 0;
  padding: 0;
}